<%= form_with model: item do |f| %>

  <p>
  <%= f.label :name%>
  <%= f.text_field :name%>
  </p>

  <p>
  <%= f.label :price%>
  <%= f.text_field :price%>
  </p>

  <p>
  <%= f.label :phone%>
  <%= f.text_field :phone%>
  </p>

  <p>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id ]} %>
  </p>
  <hr>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <hr>

  <div class="row">
    <% if item.images.attached? %>
      <% item.images.each do |image| %>
        <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
        <div class="col-3"><%= image_tag image.variant(:normal), class: "preview-image" %>
        <%= link_to "Delete", item_delete_image_path(@item, image), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></div>
      <% end %>
    <% end %>
  </div>

  <hr>

  <%= f.submit t('.save_changes'), class: "btn btn-primary" %>

  <hr>

<% end %>