<%= form_with model: item do |f| %>

  <p>
  <%= f.label :name%>
  <%= f.text_field :name%>
  </p>

  <p>
  <%= f.label :price%>
  <%= f.text_field :price%>
  </p>

  <p>
  <%= f.label :phone%>
  <%= f.text_field :phone%>
  </p>

  <div>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id ]} %>
  </p>
  <hr>

  <div>
    <% if @item.images.attached? %>
      <% @item.images.each do |image| %>
        <%= image_tag image, alt: "Item Image", class: "preview-image" %>
      <% end %>
    <% end %>
  </div>
  <br>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <br>

  <%= f.submit t('.save_changes'), class: "btn btn-primary" %>

<% end %>