<%= form_with model: item do |f| %>

  <p>
  <%= f.label :name%>
  <%= f.text_field :name%>
  </p>

  <p>
  <%= f.label :price%>
  <%= f.text_field :price%>
  </p>

  <p>
  <%= f.label :phone%>
  <%= f.text_field :phone%>
  </p>

  <p>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id ]} %>
  </p>

  <%= f.submit t('.save_changes'), class: "btn btn-primary" %>

<% end %>