<h3><%= link_to item.name, item_path(item) %></h3>

<p>Price: <%= item.price %></p>
<p>phone: <%= item.phone %></p>
<div>
  <% item.images.each do |image| %>

    <%= link_to item_path(item) do%>
      <%= image_tag image, class: "preview-image" if image.representable? %>
    <% end %>
  <% end %>
</div>
<hr>
