<h1>Inzeraty</h1>

<% @items.each do |item| %>
  <h3><%= link_to item.name, item_path(item) %><br></h3>
  
  <h3><%= link_to "Detail", item_path(item) %><br></h3>
  <%#= item_url(item) %><br>
  <%# <a href="<%= item_path(item) ">Odkaz</a> %>

  <%= item.price %><br>
  <%= item.phone %><br>
  <hr>
<% end %>