<p>
  <%= link_to "Back", items_path%>
Item Details
</p>

<% if @item.category.present? %>
    Kategoria: <%= @item.category.name %>
<% end%>

<br>
<p><%= link_to "Upravit Inzerat", edit_item_url(@item)%></p>

<%= @item.name %><br>
<%= @item.price %><br>

<p><%= link_to "Delete", item_url(@item), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
