<h1>Detail Inzeratu</h1>

<p>
  <%= link_to "Spat", items_path%>
</p>
<br>
<p><%= link_to "Upravit Inzerat", edit_item_url(@item)%></p>

<%= @item.name %><br>
<%= @item.price %><br>

<p><%= link_to "Delete", item_url(@item), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
