<!DOCTYPE html>
<html>
  <head>
    <title>Bazarko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= content_tag :p, notice if notice.present? %>
    <%= content_tag :p, alert if alert.present? %>

    <% if controller.class.module_parent_name == "Admin" %>
      <%= render 'shared/admin_navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
